.section1 {
	display: inline-block;
	height: 500px;
}

.div-cloud {
display: inline-block;
    margin-left: 0px;
	
	vertical-align: top;
	


}

.div-sun {
	display: inline-block;
	margin-left: 200px;
	vertical-align: top;
	animation: divsun 4s infinite;
	position: relative;
	
}
.sun-img:hover {
transform: scale(3);
}

@keyframes divsun {
    0% {left: 0px; transform: rotate(0deg);}
	25% {left: 0px;transform: rotate(45deg);}
	50% {left: 0px;transform: rotate(360deg);}
	70% {left: 0px;transform: rotate(45deg);}
	100% {left: 0px;transform: rotate(0deg);}
}

.sun-img {
	width: 300px;
	
}
.cloud2 {
	width: 500px;
	
}
.div-cloud {

    animation: cloud 5s infinite;
	position: relative;

}

@keyframes cloud {
    0% {left: 0%;}
	25% {left: 25%;}
	50% {left: 50%;}
	75% {left: 75%;}
	100% {left: 100%;}
}

.section2 {
	display: inline-block;
	
}

.car1 {
	width: 300px;
	
}

.car1:hover {
	transform: scale(2);
}
.car2 {
	width: 280px;
}

.car2:hover {
	transform: scale(2);
}
.div1 {

    display: inline-block;
    margin-top: 170px;
    margin-left: 0px;
    animation: caranimation 5s infinite;
    position: relative;
  
   
}

.div2 {
	
	display: inline-block;
	
	margin-left: 1300px;
	position: relative;
	animation: caranimat 5s infinite;
	
}

@keyframes caranimation {
	0% {left: 0%;}
	25% {left: 25%;}
	50% {left: 50%;}
	75% {left: 75%;}
	100% {left: 100%;}


}

@keyframes 
caranimat {
	0% {right: 0%;}
	25% {right: 25%;}
	50% {right: 50%;}
	75% {right: 75%;}
	100% {right: 100%;}
}